{{template "main" .}}
{{define "content"}}
<div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
            <ul>
            {{ range . }}
            {{if .Parent}}
              <li><img src="/static/img/back.gif" alt="[DIR]"><a href="{{ .Link }}">{{ .Name }}</a></li>
            {{else}}
              {{if .Directory}}
                <li><img src="/static/img/{{.Img}}" alt="[DIR]"><a href="{{ .Link }}">{{ .Name }}</a></li>
              {{else}}
                <li><img src="/static/img/{{.Img}}" alt="[DIR]"><a href="{{ .Link }}" target="_blank">{{ .Name }}</a></li>
              {{ end }}
            {{ end }}
            {{ end }}
          </ul>
      </div>
    </div>
  </div>
</div>
{{end}}
